<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lähdeviitteiden tallennussovellus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <style>
        body {
            background-color: #d1d1e0;
        }

        
    </style>

<div class="container mt-5">
    <p><a href="/result/{{ user }}" class="btn btn-primary">Takaisin</a></p>
    
    <form action="/result_acm/{{ user }}" method="POST">
    
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}

        <h1>Tallenna uusi linkki
        </h1>
        <p class="font-weight-bold">Täytä lomake, {{ user }}!</p>
        
         <div class="form-group">
            <label for="Linkki">Linkki:</label>
            <input type="text" class="form-control" name="Linkki" required>
        </div>

        

        <button type="submit" class="btn btn-primary">Lähetä</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
