<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lähdeviitteiden tallennussovellus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <style>
        body {
            background-color: #d1d1e0;
        }

        
    </style>
    
<div class="container mt-5">
    <form action="/result_book/{{ user }}" method="POST">

        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}

        <h1>Tallenna uusi kirja</h1>
        <p class="font-weight-bold">Täytä lomake, {{ user }}!</p>    

         <div class="form-group">
            <label for="Kirjoittaja">Kirjoittaja:</label>
            <input type="text" class="form-control" name="Kirjoittaja" required>
        </div>

        <div class="form-group">
            <label for="Editori">Editori:</label>
            <input type="text" class="form-control" name="Editori" required>
        </div>

        <div class="form-group">
            <label for="Otsikko">Otsikko:</label>
            <input type="text" class="form-control" name="Otsikko" required>
        </div>

        <div class="form-group">
            <label for="Julkaisija">Julkaisija:</label>
            <input type="text" class="form-control" name="Julkaisija" required>
        </div>

        <div class="form-group">
            <label for="Julkaisuvuosi">Julkaisuvuosi:</label>
            <input type="number" class="form-control" name="Julkaisuvuosi" required>
        </div>

        <div class="form-group">
            <label for="Vuosikerta">Vuosikerta (valinnainen):</label>
            <input type="number" class="form-control" name="Vuosikerta">
        </div>

        <div class="form-group">
            <label for="Numero">Numero (valinnainen):</label>
            <input type="number" class="form-control" name="Numero">
        </div>

        <div class="form-group">
            <label for="Sivumäärä">Sivumäärä (valinnainen):</label>
            <input type="number" class="form-control" name="Sivumäärä">
        </div>

        <div class="form-group">
            <label for="Kuukausi">Kuukausi (valinnainen):</label>
            <input type="number" class="form-control" name="Kuukausi" min="1" max="12">
        </div>

        <div class="form-group">
            <label for="Sarja">Sarja (valinnainen):</label>
            <input type="text" class="form-control" name="Sarja">
        </div>

        <div class="form-group">
            <label for="Osoite">Osoite (valinnainen):</label>
            <input type="text" class="form-control" name="Osoite">
        </div>

        <div class="form-group">
            <label for="Huomautus">Huomautus (valinnainen):</label>
            <input type="text" class="form-control" name="Huomautus">
        </div>

        <div class="form-group">
            <label for="Doi">Doi (valinnainen):</label>
            <input type="text" class="form-control" name="Doi">
        </div>

        <div class="form-group">
            <label for="Issn">Issn (valinnainen):</label>
            <input type="text" class="form-control" name="Issn">
        </div>

        <div class="form-group">
            <label for="Isbn">Isbn (valinnainen):</label>
            <input type="text" class="form-control" name="Isbn">
        </div>

        <button type="submit" class="btn btn-primary">Lähetä</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
