<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Muokkaa viitettä</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2>Muokkaa viitettä</h2>
    <p>Käyttäjä: <b>{{cite.user}}</b></p>

    <form action="/edit/{{cite.user}}/{{cite.cite_key}}" method="post">
        <input type="hidden" name="Käyttäjä" value="{{cite.user}}">

         <div class="form-group">
            <label for="Kirjoittaja">Kirjoittaja:</label>
            <input type="text" class="form-control" name="Kirjoittaja" value="{{cite.author}}">
        </div>

        <div class="form-group">
            <label for="Otsikko">Otsikko:</label>
            <input type="text" class="form-control" name="Otsikko" value="{{cite.title}}">
        </div>

        <div class="form-group">
            <label for="Julkaisuvuosi">Julkaisuvuosi:</label>
            <input type="text" class="form-control" name="Julkaisuvuosi" value="{{cite.year}}">
        </div>

        <div class="form-group">
            <label for="Artikkeli">Artikkelin nimi:</label>
            <input type="text" class="form-control" name="Artikkeli" value="{{cite.journal}}">
        </div>

        <div class="form-group">
            <label for="Vuosikerta">Vuosikerta (valinnainen):</label>
            <input type="text" class="form-control" name="Vuosikerta" value="{{cite.volume}}">
        </div>

        <div class="form-group">
            <label for="Numero">Numero (valinnainen):</label>
            <input type="text" class="form-control" name="Numero" value="{{cite.number}}">
        </div>

        <div class="form-group">
            <label for="Sivumäärä">Sivumäärä (valinnainen):</label>
            <input type="text" class="form-control" name="Sivumäärä" value="{{cite.pages}}">
        </div>

        <div class="form-group">
            <label for="Kuukausi">Kuukausi (valinnainen):</label>
            <input type="text" class="form-control" name="Kuukausi" value="{{cite.month}}">
        </div>

        <div class="form-group">
            <label for="Huomautus">Huomautus: (valinnainen)</label>
            <input type="text" class="form-control" name="Huomautus" value="{{cite.note}}">
        </div>


        <button type="submit" class="btn btn-primary">Lähetä</button>
    </form>

    <hr>
    <a href="/">Etusivulle</a><br>
    <a href="/list/{{cite.user}}">Viitelistaan</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
