<title>Lähdeviitteiden tallennussovellus</title>
<h1>Lähdeviitteiden tallennussovellus</h1>
<b>Tervetuloa</b> <i>lähdeviitteiden tallennussovellukseen</i>!!

<form action="/result" method="POST">
    Kirjoittaja:
    <input type="text" name="Kirjoittaja">
    <br>
    Otsikko:
    <input type="text" name="Otsikko">
    <br>
    Julkaisuvuosi:
    <input type="text" name="Julkaisuvuosi">
    <br>
    Artikkelin nimi:
    <input type="text" name="Artikkelin nimi">
    <br>
    <input type="submit" value="Lähetä">
    <br>
    </form>
