<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Viitelista</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <style>
        body {
            background-color: #d1d1e0;
        }

        
    </style>

<div class="container mt-5">
    <p><a href="/result/{{ user }}" class="btn btn-primary">Takaisin</a></p>

    <h2>Muokkaa tai poista viitteitä</h2>
    <p>Käyttäjä: <b>{{ user }}</b><p>
        {% if not cites %}
        <p>Viitteitä ei löytynyt.</p>
        {% else %}
        <table>
        <tr>
            <th>
                Viitetyyppi
            </th>
            <th>
                Author 
            </th>
            <th>
                Title
            </th>
            <td>
            </td>
            <th>
                Tagit
            </th>
        </tr>
        {% for cite in cites %}
        <tr{% if not loop.last %} style="border-bottom: 1px dotted gray;"{% endif %}>
            <td>
                {{ cite_types[cite.cite_key] }}
            </td>
            <td title="{{ cite }}">{{ cite.author }}</td>
            <td>{{cite.title}}</td>
            <td>
                {% if cite_types[cite.cite_key] == "book" %}
                <a href="/edit_book/{{cite.user}}/{{cite.cite_key}}" class="btn btn-primary">Muokkaa</a>
                {% elif cite_types[cite.cite_key] == "mastersthesis" %}
                <a href="/edit_mastersthesis/{{cite.user}}/{{cite.cite_key}}" class="btn btn-primary">Muokkaa</a>
                {% else %}
                <a href="/edit/{{cite.user}}/{{cite.cite_key}}" class="btn btn-primary">Muokkaa</a>
                {% endif %}
                <a href="/delete/{{cite.user}}/{{cite.cite_key}}" class="btn btn-primary">Poista</a>
            </td>
            <td>
                {% for tag in cite.tags %}
                <a href="/list/{{cite.user}}/tag/{{tag}}">{{tag}}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% if tag %}<br><a href="/list/{{user}}">Poista tagirajaus</a>{% endif %}
    {% endif %}
    <hr>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
