<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lähdeviitteiden tallennussovellus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <style>
        body {
            background-color: #d1d1e0;
        }

        
    </style>

<div class="container mt-5">
    <a href="/result/{{ user }}/" class="btn btn-primary mb-3">Takaisin</a>
    
    {% if tag %}
        <h2 class="card-title">Viitteet tagilla: '{{ tag }}'</h2>
        <p><a href="/download_bibtex/{{ user }}/tag/{{ tag }}">Lataa bibtex</a></p>
    {% else %}
        <h2 class="card-title">Viitteet hakusanalla: '{{ cite_key }}'</h2>
    {% endif %}

        {% for reference in references%}
        <div class="card mb-5">
            <div class="card-body">
                <br>
                <pre>{{ reference }}</pre>
            </div>
        </div>
        {% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
